[Desktop Entry]
Type=Application
Name=Edukasaun Welcome
Comment=Show the Welcome Screen after installation, then start Eduka-Desktop
Exec=edukasaun-welcome --session
Icon=edukasaun-welcome
Terminal=false
OnlyShowIn=LXQt;
X-LXQt-Need-Tray=false
NoDisplay=true
