[Desktop Entry]
Type=Application
Name=Edukasaun Welcome
Comment=Set up date and time, the Eduka-Desktop Suite and learning applications
Exec=edukasaun-welcome
Icon=edukasaun-welcome
Terminal=false
Categories=Education;Settings;
StartupNotify=true
Keywords=Welcome;Education;Edukasaun;Desktop;Time;Timezone;
